doctype html
html(lang='en')
    head
      // Meta Data
      meta(charset='utf-8')
      title whoops something went wrong
      meta(name='description', content='whoops something went wrong')
      meta(name='robots', content='index, follow')
      meta(name='author', content='Jerome Peters')

      //- Twitter
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:site', content='@ascar_')
        meta(name='twitter:title', content='#')
        meta(name='twitter:description', content='#')
        meta(name='twitter:image', content='#')

      //- Open Graph
        meta(property='og:title', content='#')
        meta(property='og:site_name', content='#')
        meta(property='og:url', content='#')
        meta(property='og:description', content='#')
        meta(property='og:type', content='profile')
        meta(property='og:image', content='#')

      body
        center whoops something went wrong
