doctype html
html(lang='en')
    head
      // Meta Data
      meta(charset='utf-8')
      title Copyright: Jerome Peters
      meta(name='description', content='Website under maintenance')
      meta(name='robots', content='index, follow')
      meta(name='author', content='Jerome Peters')

      //- Twitter
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:site', content='@ascar_')
        meta(name='twitter:title', content='#')
        meta(name='twitter:description', content='#')
        meta(name='twitter:image', content='#')

      //- Open Graph
        meta(property='og:title', content='#')
        meta(property='og:site_name', content='#')
        meta(property='og:url', content='#')
        meta(property='og:description', content='#')
        meta(property='og:type', content='profile')
        meta(property='og:image', content='#')

      // Stylesheets
      link(href='/css/home.min.css?v=1', rel='stylesheet', type='text/css')
      link(href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet', type='text/css')

      body
        
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js', type='text/javascript')
        script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js', type='text/javascript')
        script(src='/js/home.min.js', type='text/javascript')
